* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0px;
}

.card-body_add {
  background-color: #f1fafd;
}

.card-body_update {
  background-color: #fcf1ce;
}

.item-center {
  align-content: center;
}

.mdl-layout__header {
  background-color: #212529;
}
